<div id="nav">

<div> <h3>The Design Shop</h3></div>
<div>
    <ul>
       
        <li><a href="/">All</a></li>
        <li><a href="/add">Add</a></li>
        <li><a href="/less">30$ Dollar or less!</a></li>

    </ul
</div>
    </div>